<% pending_approvals.each do |pending_approval| %>
	<%= link_to pending_approval do %>
		<div class='homepage-block col-md-3'>
			<h4>
				<%= pending_approval.user.full_name %>
			</h4>

			<p>
				<span class='pending-details'>Date Submitted:</span> <%= pending_approval.date %>
			</p>

			<div class='row'>
				<div class='button-actions'>
					<%= link_to approve_post_path(pending_approval), id: "approve_#{pending_approval.id}", :data => {:confirm => "Are you sure you'd like to approve this submission?"} do %>
						<img src="https://img.icons8.com/nolan/64/000000/in-progress.png">
					<% end %>
					<%= link_to edit_post_path(pending_approval) do %>
						<img src="https://img.icons8.com/nolan/64/000000/more.png">
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
<% end %>
