<div class="form-group">
  <%= f.radio_button :status, 'submitted' %>
  <%= f.label :status, 'Submitted', :value => "submitted" %>
  <br>
  <%= f.radio_button :status, 'approved' %>
  <%= f.label :status, 'Approved', :value => "approved" %>
  <br>
  <%= f.radio_button :status, 'rejected' %>
  <%= f.label :status, 'Rejected', :value => "rejected" %>
</div>
