<div class="well">
	<div>
		<h4 class="post-details">Employee:</h4>
		<%= @post.user.full_name %>
	</div>

	<div>
		<h4 class="post-details">Date:</h4>
		<%= @post.date %>
	</div>

	<div>
		<h4 class="post-details">Hours Worked:</h4>
		<%= @post.daily_hours %>
	</div>

	<div>
		<h4 class="post-details">Current Stage of Approval:</h4>
		<%= @post.status %>
	</div>

	<div style="margin-top: 5rem;">
		<h4 class="post-details">Reasoning:</h4>
		<%= @post.description %>
	</div>
</div>

<%= link_to 'Edit', edit_post_path(@post), class: 'btn btn-primary' if policy(@post).update? %>
